.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  flex:1;
}
.titulo{
  padding-left: 2rem;
  margin-bottom: 40px;
  color: white;
}
@media screen and (max-width:680px){
  .titulo{
    padding-left: .5rem;
  }
}
.main{
  display: flex;
  background-color: #171717;
}
.postContainer {
  display: flex;
  flex-wrap: wrap;
}